.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/doc
/doc/
/Meta/
construirPaquete.R
piramide_relativa.qmd
piramide_relativa.html
.agents
ejemplos_nuevas_funciones.qmd
ejemplos_nuevas_funciones.html
ejemplos_nuevas_funciones_files/
R/funciones_nuevas_provisionales.R
